.idea/
.nyc_output/
node_modules/
lib/
artifacts/
bundle.js
bundle.js.map
npm-debug.log
yarn-error.log
plugins/
*.log
yarn.lock
theia-binalyzer-glsp.jar

examples/browser-app/**
!examples/browser-app/package.json

